#chatbox {
  position: relative;
  background-color: #F1F2F6;
  width: 100%;
  height: 78%;

  word-wrap: normal;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-wrap: normal;
  max-height: 83%;
}

#chatbox::-webkit-scrollbar {
  display: none;
}

#chat-textbox {
  position: relative;
  margin-top: 15px;
}

#chat-textbox h4 {
  font-size: medium;
}

#chatscroller {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 0;
  text-align: left;
}

.chat-message {
  position: relative;
  width: 100%;
}

.chat-message p {
  position: relative;
  left: 30px;
  top: 0.3vmin;
}

#chat-contextbox {
  position: relative;
  background-color: white;
  height: 5%;
}

#chat-contextbox button {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: right;
}

#chat-contextbox div {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}