div {
  position: relative;
}

.textboxTagName {
  overflow: hidden;
}

h4 {
  position: relative;
  font-weight: 600;
  text-align: left;
  left: 2vmin;
  margin: 0;
  float: left;
}

h5 {
  position: relative;
  font-weight: 600;
  font-size: 40%;
  color: #8b8b8b;
  text-align: left;
  left: 2.5vmin;
  top: 0.6vmin;
  margin: 0;
}

input {
  position: relative;
  background-color: #F1F2F6;
  border: none;
  outline: none;
  width: 90%;
  height: 4.2vmin;
  font-family: Inter;
  font-weight: 500;
  font-size: 50%;

  padding: 7px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}

input::placeholder {
  color: #AFAFAF;
  font-weight: 700;
}

